.scene-foreground {
  position: fixed;
  width: 30rem;
  height: 70%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(255, 0, 0, 0.7);
  overflow: hidden;
  box-shadow: 0 0 54px 72px rgba(0, 0, 0, 0.8);
  border-radius: 0.3rem;
  transform: rotate(356deg);
}

.scene-foreground__shadow {
  position: fixed;
  width: 30rem;
  height: 70%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 0 16px 17px rgba(0, 0, 0, 0.6);
  border-radius: 0.3rem;
  transform: rotate(356deg);
}

.scene-foreground__content {
  position: relative;
  padding: 2rem;
  padding-top: 1rem;
  height: 57.7vh;
  overflow-y: auto;
  border-left: 10px dashed rgba(0, 0, 0, 0.3);
  border-right: 10px solid rgba(0, 0, 0, 0.7);
}

.scene-foreground__logo {
  box-shadow: inset 0 20px 9px -11px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 3rem;
  text-align: right;
}
